<br>
<br>

Update product information here.

<ul>
  {{#each model as |product|}}
  <li>name:{{product.name}}
  <br>
     price:{{product.price}}$</li>

     {{product-edit product=product edit="edit"}}

     <button {{action 'destroyProduct' product}}>Delete product</button>

  {{/each}}
  <br>
  <br>
</ul>
     {{new-product product=product saveProduct = "saveProduct"}}

     
